<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuzzy-Dollop</title>
    <link rel="icon" type="image/x-icon" href="#">
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">

        <header>
            <h1>Fuzzy-Dollop</h1>
            <nav>
                <ul class="header__nav__list">
                    <li><a href="/connection">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </nav>
        </header>